@media screen and (max-width: 599px) {
    .portrait {
        display: block;
        margin: 0 auto;
        max-width: 200px;
        height: auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
    .portrait {
        display: block;
        margin: 0 auto;
        max-width: 250px;
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    .portrait {
        display: block;
        margin: 0 auto;
        max-width: 300px;
        height: auto;
    }
}